<!DOCTYPE html>
<html>
<head>
<title>ACTTAO 监控</title>
<style>
.wrapper {
    width: 100%;
    height: 900px;
    margin: 4px;
}
.wrapper > div {
    display: inline-block;
    width: calc(100% / 2.10);
    width: -webkit-calc(100% / 2.10);
    width: -moz-calc(100% / 2.10);
    height: calc(100% / 2.10);
    height: -webkit-calc(100% / 2.10);
    height: -moz-calc(100% / 2.10);
    border: 2px solid black;
    padding: 10px;
    margin: 1px;
}
</style>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/highcharts.js"></script>
<script tpye="text/javascript">
(function($){
    $.extend({
        RefreshToUnix: function(string){
            var f = string.slice(-1);
            var d = string.slice(0, -1);
            if(f === 'm'){
                return parseInt(d) * 60 * 1000;
            }
            if(f === 's'){
                return parseInt(d) * 1000;
            }
        } 
    });
})(jQuery);

function dorefresh(time_start, time_end, monitor_names, interval, container){
    var data = {
        "time_start": time_start,
        "time_end": time_end,
        "monitor_name": monitor_names,
        "interval": interval
    };
    $.ajax({
        "type": "POST",
        "dataType": "json",
        "url": "/api/post_profile_data",
        "data": data,
        "success": function(result) {
            $('#container').show();
            eval(container+".highcharts("+JSON.parse(result)+")");
        }    
    });
};

$(document).ready(function(){
    dorefresh(Date.parse(new Date()) - $.RefreshToUnix($(".wrapper>#lefttop>#time_before option:selected").val()), Date.parse(new Date()), "{{ monitor_names.1 }}", $(".wrapper>#lefttop>#time_interval option:selected").val(), "$('#container1')");
    setInterval("dorefresh(Date.parse(new Date()) - $.RefreshToUnix($(\".wrapper>#lefttop>#time_before option:selected\").val()), Date.parse(new Date()), \"{{ monitor_names.1 }}\", $(\".wrapper>#lefttop>#time_interval option:selected\").val(), \"$('#container1')\")", $.RefreshToUnix($(".wrapper>#lefttop>#time_refresh option:selected").val()));
    dorefresh(Date.parse(new Date()) - $.RefreshToUnix($(".wrapper>#righttop>#time_before option:selected").val()), Date.parse(new Date()), "{{ monitor_names.2 }}", $(".wrapper>#righttop>#time_interval option:selected").val(), "$('#container2')");
    setInterval("dorefresh(Date.parse(new Date()) - $.RefreshToUnix($(\".wrapper>#righttop>#time_before option:selected\").val()), Date.parse(new Date()), \"{{ monitor_names.2 }}\", $(\".wrapper>#righttop>#time_interval option:selected\").val(), \"$('#container2')\")", $.RefreshToUnix($(".wrapper>#righttop>#time_refresh option:selected").val()));
    dorefresh(Date.parse(new Date()) - $.RefreshToUnix($(".wrapper>#leftbottom>#time_before option:selected").val()), Date.parse(new Date()), "{{ monitor_names.3 }}", $(".wrapper>#leftbottom>#time_interval option:selected").val(), "$('#container3')");
    setInterval("dorefresh(Date.parse(new Date()) - $.RefreshToUnix($(\".wrapper>#leftbottom>#time_before option:selected\").val()), Date.parse(new Date()), \"{{ monitor_names.3 }}\", $(\".wrapper>#leftbottom>#time_interval option:selected\").val(), \"$('#container3')\")", $.RefreshToUnix($(".wrapper>#leftbottom>#time_refresh option:selected").val()));
    dorefresh(Date.parse(new Date()) - $.RefreshToUnix($(".wrapper>#rightbottom>#time_before option:selected").val()), Date.parse(new Date()), "{{ monitor_names.4 }}", $(".wrapper>#rightbottom>#time_interval option:selected").val(), "$('#container4')");
    setInterval("dorefresh(Date.parse(new Date()) - $.RefreshToUnix($(\".wrapper>#rightbottom>#time_before option:selected\").val()), Date.parse(new Date()), \"{{ monitor_names.4 }}\", $(\".wrapper>#rightbottom>#time_interval option:selected\").val(), \"$('#container4')\")", $.RefreshToUnix($(".wrapper>#rightbottom>#time_refresh option:selected").val()));
});
</script>
</head>
<body>
    <div class="wrapper">
        <div id='lefttop'>
            {% include 'time_select_small.html' %}
            <div id="container1"></div>
        </div>
 
        <div id='righttop'>
            {% include 'time_select_small.html' %}
            <div id="container2"></div>
        </div>

        <div id='leftbottom'>
            {% include 'time_select_small.html' %}
            <div id="container3"></div>
        </div>
        
        <div id='rightbottom'>
            {% include 'time_select_small.html' %}
            <div id="container4"></div>
        </div>
    </div>
</body>
</html>
