{% extends 'base.html' %}

{% block title %} Acttao监控平台{% endblock %}

{% block content %}
<!--<div class='main_window'>base_monitor_hosts</div>-->
<div class='main_window'>
    {% include 'time_select_small.html' %}
    <script type="text/javascript" src="static/js/highcharts.js"></script>
    <script type="text/javascript">
    (function($){
        $.extend({
            RefreshToUnix: function(string){
                var f = string.slice(-1);
                var d = string.slice(0, -1);
                if(f === 'm'){
                    return parseInt(d) * 60 * 1000;
                }
                if(f === 's'){
                    return parseInt(d) * 1000;
                }
            } 
        });
    })(jQuery);

    function dorefresh(time_start, time_end, monitor_names, interval, container){
        var data = {
            "time_start": time_start,
            "time_end": time_end,
            "monitor_name": monitor_names,
            "interval": interval
        };
        $.ajax({
            "type": "POST",
            "dataType": "json",
            "url": "/api/test/post_profile_data",
            "data": data,
            "success": function(result) {
                $('#container').show();
                eval(container+".highcharts("+JSON.parse(result)+")");
            }    
        });
    };

    $(document).ready(function(){
        dorefresh(Date.parse(new Date()) - $.RefreshToUnix($("#time_before option:selected").val()), Date.parse(new Date()), "{{ monitor_names }}", $("#time_interval option:selected").val(), "$('#container')");
//        setInterval("dorefresh(Date.parse(new Date()) - $.RefreshToUnix($(\"#time_before option:selected\").val()), Date.parse(new Date()), \"{{ monitor_names }}\", $(\"#time_interval option:selected\").val(), \"$('#container')\")", $.RefreshToUnix($("#time_refresh option:selected").val()));
    });
    </script>
    <div id="container" style="min-width:700px;height:400px;display:none"></div>
</div>
{% endblock %}
