<label for="time_before">最近</label>
<select id="time_before">
    <option value="5m">5分钟</option>
    <option value="30m">30分钟</option>
    <option value="1h">1小时</option>
    <option value="2h">2小时</option>
    <option value="8h">8小时</option>
    <option value="24h">24小时</option>
    <option value="1w">1周</option>
    <option value="2w">2周</option>
    <option value="1M">1月</option>
    <option value="6M">6月</option>
    <option value="1y">1年</option>
    <option value="2y">2年</option>
    <option value="5y">5年</option>
</select>
<label for="time_interval">每</label>
<select id="time_interval">
    <option value="30s">30秒</option>
    <option value="60s">60秒</option>
    <option value="2m">2分钟</option>
    <option value="5m">5分钟</option>
    <option value="30m">30分钟</option>
    <option value="1h">1小时</option>
    <option value="2h">2小时</option>
    <option value="8h">8小时</option>
    <option value="24h">24小时</option>
    <option value="1w">1周</option>
    <option value="2w">2周</option>
    <option value="1M">1月</option>
    <option value="6M">6月</option>
    <option value="1y">1年</option>
</select>
<label for="time_refresh">取值，每</label>
<select id="time_refresh">
    <option value="60s">60秒</option>
    <option value="2m">2分钟</option>
    <option value="5m">5分钟</option>
</select>
<label>刷新</label>
